<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.github.loginoverlay</string>
		<key>Program</key>
		<string>/Library/PrivilegedHelperTools/LoginOverlay.app/Contents/MacOS/LoginOverlay</string>
		<key>RunAtLoad</key>
		<false/>
		<key>KeepAlive</key>
		<dict>
		 <key>PathState</key>
		 <dict>
		   <key>~/.com.github.loginoverlay</key>
		   <false/>
		 </dict>
		</dict>
	</dict>
</plist>